.kaufman__triangle {
  right: -210px;
  position: absolute;
  height: 877px;
  width: 877px;
  top: 0;
  bottom: 0;
  z-index: 0;
  transform: rotate(-15deg);
  animation: rotate 20s infinite linear;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}