@import url(./__triangle/kaufman__triangle.css);

/* theme_dark */
@import url(../digits/section-title/_theme_dark/section-title_theme_dark.css);
@import url(../digits/section-subtitle/_theme_dark/section-subtitle_theme_dark.css);
@import url(../digits/table/_theme_dark/table_theme_dark.css);
@import url(../digits/table/__cell_theme_dark/table__cell_theme_dark.css);
@import url(../digits/table/__heading_theme_dark/table__heading_theme_dark.css);
@import url(../digits/table/__text_theme_dark/table__text_theme_dark.css);

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding-top: 90px;
  margin-bottom: 0;
}