@import url(../description/two-columns/two-columns.css);
@import url(../description/two-columns/__brief/two-columns__brief.css);
@import url(../description/two-columns/__main-text/two-columns__main-text.css);
@import url(../description/two-columns/__paragraph/two-columns__paragraph.css);

.oakley {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 160px;
}
