@import url(description/description.css);
@import url(description/two-columns/two-columns.css);
@import url(digits/digits.css);
@import url(video/video.css);
@import url(oakley/oakley.css);
@import url(feinman/feinman.css);
@import url(kaufman/kaufman.css);
@import url(resources/resources.css);
@import url(khan/khan.css);
@import url(techniques/techniques.css);

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} /* и элемента с модификатором вида ключ-значение */