.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    background-color:  #F2F2F2;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
       /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* и элемента с модификатором вида ключ-значение */

.logo{
    display: flex;
    top:30px;
    left:64px;
    z-index: 1;
}
.logo_place_header{
    width: 183px;
    height: 32px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}

.header__title{
    font-size: 102px;
    line-height: 96px;
    text-decoration: none;
    width:730px;
    color: #10191E;
    display: flex;
    position: absolute;
    left:64px;
}

.header__subtitle{
    font-size: 18px;
    line-height: 25px;
    font-weight: normal;
    text-decoration: none;
    width:388px;
    color: #10191E;
    left:64px;
    right:auto;
    bottom:30px;
    position: absolute;
    z-index: 1;
}

.header__link {
    margin:auto;
    font-size: 20px;
    line-height: 25px;
    font-weight: normal;
    text-decoration: none;
    color: #2F80ED;
    text-decoration:none;
}

.header__main-illustration{
    height:603px;
    width: 756px;
    display:flex;
    object-fit: cover;
    background-size: cover;
    right: 0;
    bottom:0px;
    position: absolute;
}

.header__square-pic {
    height: 568px;
    width: 568px;
    background-color: #2F80ED;
    display: flex;
    object-fit: cover;
    position: absolute;
    right:0px;
    top:64px;
}

.description{
    background-color: white;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    position: relative;
}

.two-columns{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top:0;
    margin-bottom:0;
}

.two-columns__brief{
    width: 175px;
    line-height: 1.2;
    font-size: 18px;
    margin-top:0px;
    margin-bottom: 0px;
    color:#2F80ED;
    font-weight: normal;

}
.two-columns__main_text{
    width: 80%;
    min-width: 784px;
    flex-direction: column;

}

.two-columns__paragraph{
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top:0;

}
.two-columns__paragraph_nomargin{
    margin-bottom: 0px;
}
.border {
    border: 1px solid red;
}

.two-columns__span_accent{
    line-height: 34px;
    font-size: 24px;
    font-weight: bold;
}
.digits{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

}

.section-title{
    line-height: 69px;
    font-size: 60px;
    font-weight: bold;
    width:60%;
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    z-index: 1;
}

.section-title_theme_dark{
    color: #F2F2F2;
    margin-top:90px;
    z-index: 2;
}

.section-subtitle{
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 0;
    width:60%;
    text-align: center;
}

.section-subtitle_theme_dark{
    color: #F2F2F2;
    z-index: 2;



}

.table{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width:1100px;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

.table_theme_dark{
    margin-bottom: 90px;
    z-index: 2;

}

.table__cell{
    width: 250px;
    margin-top: 60px;
    margin-right:0;
    z-index: 1;
}
.table__cell_theme_dark {
    width: 200px;
    color: #F2F2F2;
    margin-right: 0;
    margin-top: 80px;
    z-index: 1;


}

.table__heading{
    margin-bottom:20px;
    line-height: 1.15;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;

}

.table__heading_theme-dark{
color:#F2F2F2;

}
.table__text{

    margin-bottom: 20px;
    line-height: 1.2;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 0;
    margin-right: 0;
}

.table__text_theme_dark{
    color:#F2F2F2;

}

.feinman{
    height: 790px;
    background-color: #F2F2F2;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
    padding-top: 100px;


}

.feinman__title{
    width: 648px;
    font-size: 120px;
    line-height: 1.15;
    font-weight: bold;
    text-align: center;
    margin-bottom:0;
    display: flex;
    margin-top: 0;
    z-index: 3;
}

.feinman__subtitle{
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    text-align: center;
    display: flex;
    z-index: 2;
    margin-top: 70px;
}

.feinman__link{
    font-size: 36px;
    line-height: 51px;
    font-weight: normal;
    position: absolute;
    color: #1f1f1f;
    right: 48px;
    top:50%;
    z-index: 4;
    text-decoration:none;
}

a:hover{
    color: blue;
}

.feinman__image{
    background-image: url("../images/feinman.png");
    height:637px;
    width: 867px;
    display:flex;
    object-fit: cover;
    background-size: cover;
    display: flex;
    z-index: 1;
    left: 0;
    bottom:0;
    position: absolute;
}

.feinman__theme_dark{
    background-color: #1f1f1f;
}

.kaufman {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f1f1f;
    position: relative;
    overflow: hidden;

}

.kaufman__triangle{
    right: -210px;
    position: absolute;
    height:877px;
    width: 877px;
    top:0;
    bottom:0;
    background-image: url(../images/triangle.svg);
    z-index: 0;

}

.footer {
    min-height: 350px;
    color: #F2F2F2;
    background-color: #1F1F1F;
    display: flex;
    justify-content: center;

}

.footer__columns {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0;
    margin: 60px 0 40px;
}

.footer__column_content_info{
    flex-wrap: wrap; 
    flex-direction: column; 
}

.footer__column_content_social{
    width: auto; 
    flex-direction: column;
}

.footer__column_content_copyright {
    flex-basis: 711px;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.footer__author {
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    margin: 18px 0;
}

.footer__column-heading {
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top:0;
}

.logo_place_footer{
    height: 35px;
    width: 183px;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer__column-links {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

.footer__column-link {
    text-decoration: none;
    color: white;
}

.footer__social-icon {
    height: 16px;
    width: 16px;
    padding-right: 10px;
}
